<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erp.orm.inter.IEmployeeMapper" >
  <resultMap id="BaseResultMap" type="com.erp.orm.entity.Employee" >
    <id column="e_id" property="eId" jdbcType="INTEGER" />
    <result column="e_name" property="eName" jdbcType="VARCHAR" />
    <result column="e_oid" property="eOid" jdbcType="VARCHAR" />
    <result column="e_mobile" property="eMobile" jdbcType="VARCHAR" />
    <result column="e_birthday" property="eBirthday" jdbcType="VARCHAR" />
    <result column="e_sex" property="eSex" jdbcType="VARCHAR" />
    <result column="e_idcard" property="eIdcard" jdbcType="VARCHAR" />
    <result column="e_state" property="eState" jdbcType="TINYINT" />
    <result column="e_address" property="eAddress" jdbcType="VARCHAR" />
    <result column="e_intime" property="eIntime" jdbcType="TIMESTAMP" />
    <result column="u_id" property="uId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    e_id, e_name, e_oid, e_mobile, e_birthday, e_sex, e_idcard, e_state, e_address, e_intime,u_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_employee
    where e_id = #{eId,jdbcType=INTEGER}
  </select>

  <select id="selectByUid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_employee
    where u_id = #{uId,jdbcType=INTEGER}
  </select>

  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tb_employee
    where e_name  like concat('%', #{name,jdbcType=VARCHAR},'%')
    order by e_name
  </select>

  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_employee
    order by e_intime
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_employee
    where e_id = #{eId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.erp.orm.entity.Employee" >
    insert into tb_employee (e_id, e_name, e_oid, 
      e_mobile, e_birthday, e_sex, 
      e_idcard, e_state, e_address, 
      e_intime,u_id)
    values (#{eId,jdbcType=INTEGER}, #{eName,jdbcType=VARCHAR}, #{eOid,jdbcType=VARCHAR}, 
      #{eMobile,jdbcType=VARCHAR}, #{eBirthday,jdbcType=VARCHAR}, #{eSex,jdbcType=VARCHAR}, 
      #{eIdcard,jdbcType=VARCHAR}, #{eState,jdbcType=TINYINT}, #{eAddress,jdbcType=VARCHAR}, 
      #{eIntime,jdbcType=TIMESTAMP},#{uId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.erp.orm.entity.Employee" >
    insert into tb_employee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="eId != null" >
        e_id,
      </if>
      <if test="eName != null" >
        e_name,
      </if>
      <if test="eOid != null" >
        e_oid,
      </if>
      <if test="eMobile != null" >
        e_mobile,
      </if>
      <if test="eBirthday != null" >
        e_birthday,
      </if>
      <if test="eSex != null" >
        e_sex,
      </if>
      <if test="eIdcard != null" >
        e_idcard,
      </if>
      <if test="eState != null" >
        e_state,
      </if>
      <if test="eAddress != null" >
        e_address,
      </if>
      <if test="eIntime != null" >
        e_intime,
      </if>
      <if test="uId != null" >
        u_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="eId != null" >
        #{eId,jdbcType=INTEGER},
      </if>
      <if test="eName != null" >
        #{eName,jdbcType=VARCHAR},
      </if>
      <if test="eOid != null" >
        #{eOid,jdbcType=VARCHAR},
      </if>
      <if test="eMobile != null" >
        #{eMobile,jdbcType=VARCHAR},
      </if>
      <if test="eBirthday != null" >
        #{eBirthday,jdbcType=VARCHAR},
      </if>
      <if test="eSex != null" >
        #{eSex,jdbcType=VARCHAR},
      </if>
      <if test="eIdcard != null" >
        #{eIdcard,jdbcType=VARCHAR},
      </if>
      <if test="eState != null" >
        #{eState,jdbcType=TINYINT},
      </if>
      <if test="eAddress != null" >
        #{eAddress,jdbcType=VARCHAR},
      </if>
      <if test="eIntime != null" >
        #{eIntime,jdbcType=TIMESTAMP},
      </if>
      <if test="uId != null" >
        #{uId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.erp.orm.entity.Employee" >
    update tb_employee
    <set >
      <if test="eName != null" >
        e_name = #{eName,jdbcType=VARCHAR},
      </if>
      <if test="eOid != null" >
        e_oid = #{eOid,jdbcType=VARCHAR},
      </if>
      <if test="eMobile != null" >
        e_mobile = #{eMobile,jdbcType=VARCHAR},
      </if>
      <if test="eBirthday != null" >
        e_birthday = #{eBirthday,jdbcType=VARCHAR},
      </if>
      <if test="eSex != null" >
        e_sex = #{eSex,jdbcType=VARCHAR},
      </if>
      <if test="eIdcard != null" >
        e_idcard = #{eIdcard,jdbcType=VARCHAR},
      </if>
      <if test="eState != null" >
        e_state = #{eState,jdbcType=TINYINT},
      </if>
      <if test="eAddress != null" >
        e_address = #{eAddress,jdbcType=VARCHAR},
      </if>
      <if test="eIntime != null" >
        e_intime = #{eIntime,jdbcType=TIMESTAMP},
      </if>
      <if test="uId != null" >
        u_id = #{uId,jdbcType=INTEGER},
      </if>
    </set>
    where e_id = #{eId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.erp.orm.entity.Employee" >
    update tb_employee
    set e_name = #{eName,jdbcType=VARCHAR},
      e_oid = #{eOid,jdbcType=VARCHAR},
      e_mobile = #{eMobile,jdbcType=VARCHAR},
      e_birthday = #{eBirthday,jdbcType=VARCHAR},
      e_sex = #{eSex,jdbcType=VARCHAR},
      e_idcard = #{eIdcard,jdbcType=VARCHAR},
      e_state = #{eState,jdbcType=TINYINT},
      e_address = #{eAddress,jdbcType=VARCHAR},
      e_intime = #{eIntime,jdbcType=TIMESTAMP},
      u_id = #{uId,jdbcType=INTEGER},
    where e_id = #{eId,jdbcType=INTEGER}
  </update>
</mapper>